*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-type: none;
    text-decoration: none;
}
.cabecalho{
    width: 100%;
    height: 100px;
    background-color: #C8FCD8;
}
.containermenu{
    display: flex;
}
.logo{
    width: 15%;
    margin-left: 190px;
    position: absolute;
    margin-top: 15px;
}
#menu{
    display: none;
    margin-left: 10px;
    color: black;
}
.containermenu div a i{
    font-size: 30px;
    margin-left: 1em;
}
.containermenu div{
    margin-top: 30px;
}
.iconeheaderc{
    width: 40%;
}
.iconeheaderu{
    width: 40%;
}
.iconesheader{
    margin-left: 370px;
    position: absolute;
}
.flex{ /* começo css meu diario */
    display: flex;
}
.containerdiario{
    margin-left: 50px;
    margin-top: 1em;
}
.containerdiario h1{
    font-weight: lighter;
}
.containerdiario h2{
    font-size: 20px;
    margin-left: 3em;
    margin-top: 6px;
    font-weight: lighter;
}
.calendario{
    background-color: #c8fcd8;
    margin-top: 18px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    height: 400px;
}
.imgcldr{
    width: 100%;
}
.orange{
    width: 100%;
    background-color: #D5AF17;
    height: 300px;
}
.sentimento{
    background-color: #fff;
    width: 370px;
    height: 250px;
    border-radius: 20px;
    margin-left: 27px;
    margin-top: 23px;
    position: absolute;
}
.sentimento h3{
    font-size: 20px;
    margin-left: 10px;
    font-weight: lighter;
}
.anote{
    font-weight: lighter;
    margin-top: 20px;
}
.info{
    width: 100%;
    height: 350px;
    background-color: #c8fcd8;
}
.info img{
    width: 30%;
    margin-top: 30px;
    margin-left: 8px;
} /* fim css meu diario */

.titulopsi{ /* começo css mural psicologo */
    font-weight: lighter;
    text-align: center;
}
.muralpsi{
    width: 100%;
    margin-top: 2em;
}
.titlechat{
    font-weight: lighter;
    text-align: center;
    margin-top: 1em;
}
.chatpsicologo{
    width: 100%;
    height: 290px;
    background-color:#fff1ff;
    margin-top: 1em;
}
.cliente img{
    width: 15%;
    margin-top: 20px;
    margin-left: 20px;
}
.cliente h3{
    font-weight: lighter;
    margin-top: 2em;
    margin-left: 0.5em;
}
.navmenu{
    display: none;
}

@media(min-width: 800px){
    .navmenu{
        display: none;
    }
    .logo{
        width: 100px;
        margin-left: 350px;
        margin-top: -4px;
    }
    .iconeheaderc{
        width: 7%;
    }
    .iconeheaderu{
        width: 7%;
    }
    .iconesheader{
        display: flex;
        justify-content: flex-end;
    }
    .containerdiario h2{ /* começo responsividade meu diario */
        margin-left: 400px;
    }
    .calendario{
        height: 700px;
    }
    .sentimento{
        width: 750px;
    }
    .info{
        height: 600px;
    }
    .anote{
        font-size: 35px;
    } /* fim responsividade meu diario */
    /* começo responsividade mural psicologo */ 
    
    .cliente img{
        width: 8%;
    } /* fim responsividade mural psicologo */  
}    /* fim responsividade 800px */
@media(min-width: 1366px){
    .logo{
        padding-left: 280px;
    }
    .iconeheaderc{
        width: 3%;
    }
    .iconeheaderu{
        width: 3%;
    }
    .chatpsicologo{
        height: 410px;
    }
    .containerdiario h2{ /* começo responsividade meu diario */
        margin-left: 1000px;
    }
    .calendario img{
        height: 90%;
    }
    .calendario{
        height: 1000px;
    }
    .orange{
        height: 450px;
    }
    .sentimento{
        height: 400px;
        width: 1310px;
    }
    .info img{
        width: 15%;
    }
    .info{
        height: 280px;
    } /* fim responsividade meu diaro */
    .muralpsi{
        width: 70%;
        margin-left: 200px;
    }
    .cliente h3{
        font-size: 25px;
    }
    .containermenu div a i{
        display: none;
    }
    .navmenu{
        width: 400px;

    }
    .navmenu ul{
        display: flex;
        padding: 1em;
        justify-content: space-around;
    }
    .navmenu ul li{
        font-size: 20px;
    }
    .navmenu{
        display: inline;
    }
} /* fim responsividade 1366px */

/*Página cadastro psicólogo*/


@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F6F5F2;
    font-family: 'Lobster', cursive;
}


.banner img{
    width: 80%;
    height: 200px;
    
    padding: 5em 3em;
    
}
.secao{
    display: flex;
    
}
h2{
    text-align: center;
}
.card img{
    width: 100%;
}
.card{
    width: 100px;
    height: 230px;
    padding: 2em 2em;
}
.card article{
    text-align: center;
    margin-top: 1.5em;
}
article p{
    margin-top: 0.5em;

}
.card a{
    text-decoration: none;
    color: black;
}
/* .menu{
    margin-top: -250px;
} */
.caminho{
    margin-top: -250px;
    display: flex;
    width: 430px;
}
.menu img{
    width: 100%;
}
.caminho p{
    margin-top:65px ;
    margin-left: 10px;
    text-align: center;
    font-size: 14px;
}
.rosa{
    background-color:#FBE2FB;
    height: 100%;
    padding: 30px 0px;
}

 .caminho img{
    margin-top: 50px;
    margin-left: 30px;
}

@media(min-width:800px){
    .banner img{
        height: 300px;
        margin-left: 20px;
       
    }
    .secao{
        display: flex;
        justify-content: space-around;
        
    }
    .menu {
        width: 100%;
    }
    .menu img{
        width: 100%;
    }
    .card a{
        text-decoration: none;
        color: black;
    }
    .caminho{
        width: 100%;
    }
    .caminho img{
        position: absolute;
        width: 200px;
        height: 200px;
        top: 850px;
        left: 60px;
    }
    .caminho p{
        width: 300px;
        margin-top: 5px;
       margin-left: 400px;
    }
    

}
@media (min-width:1366px){
    .banner{
        display: flex;
        justify-content: center;
    }
.banner img{
    width: 60%;
    height: 600px;
    
}
.card{
    width: 20%;
    height: 400px;
    
}
.card img{
    width: 90%;
    height: 400px;
    margin-left: 40px;
}
.secao{
    display: flex;
    justify-content: center;
}
.card p{
    font-size: 25px;
}
.card h3 a{
    font-size: 30px;
   text-decoration: none;
   color: #000000;
}
h2{
    font-size: 60px;
    margin-top: 100px;
}
.mural:hover{
    text-shadow: 0px 0px 5px #55b47e;
    color: #55b47e;
}
.diario:hover{
    text-shadow: 0px 0px 5px #d54dce;
    color: #d54dce ;
}
.compras:hover{
    text-shadow: 0px 0px 5px #d54dce;
    color: #d54dce ;
}
.menu{
    width: 100%;
    height: 740px;
    margin-top: 200px;
   }
   .caminho{
    display: flex;
    justify-content: space-around;
    margin-left: 300px;
    
   }
.caminho img{
    width: 600px;
    height: 600px;
top: 2050px;
margin-left: 500px;
}
.caminho p{
    width: 500px;
    margin-top: -750px;
   font-size: 40px;
  
}
    
}
/*Início da página Mural*/
h1{
    font-size: 60px;
    text-align: center;
    padding: 20px 0px;
}

.secao2{
    width: 100%;
    height: 600px;
    flex-direction: column;
}
.secao2 h2{
    padding: 30px 0px;
}
.quadro{
    width: 100%;
    height: 300px;
    
}
.quadro img{
    width: 70%;
    height: 100%;
    margin-left: 70px;
}
.lapis{
    display: flex;
    justify-content: center;
}
.lapis img{
    width: 30px;
    height: 30px;
    padding: 0.6em;
}

#overflowTest {
    border-color: black;
    background: #FBE2FB;
    color: white;
    padding: 15px;
    width: 300px;
    height: 180px;
    overflow: scroll;
    border: 1px solid #ccc;
  }

  .Abadaloja{
      display: flex;
      justify-content: center;
  }

  .Abadaloja img{
      padding: 10px 2px;
      width: 30px;
      height: 40px;
      height: 39px;
  }
  .acessorios h1{
    font-family: 'Lobster', cursive;
  }

  .ljimg{
      width: 100%;
      height: 250px;
      background-image: url(../images/Capturar.PNG);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-position: center;
      background-size: cover ;
  }

  .filtro img{
      width: 30px;
      height: 20px;
  }

  .barra{
      display: flex;
      flex-direction: column;
  }
  .barra img{
    width: 70px;
  }
  .hamburguer img{
      width: 40px;
      height: 40px;
  }

  .texto h2{
      font-size: 12px;
  }

  /*desenho*/

  *, *:before, *:after {
    box-sizing: inherit;
  }
  canvas {
    background: white;
  }
  
  #paint-app {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
  }
  
  /* For any shape tools that need a live preview */
  .placeholder {
    position:absolute;
    z-index:999;
  }

  .toolbar{
      width: 390px;
      height: 63px;
  }

  .alinhar{
      display: flex;
  }
  .verde{
      background-color: #C8FCD8;
  }
  .container{
      width: 80%;
      min-width: 465px;
      margin: 0 auto;
      justify-content: space-around;
      height: 206px;
      flex-wrap: nowrap;
    }
    nav ul{
        display: flex;
        padding: 10px;
        flex-direction: column;
        justify-content: flex start;
        list-style: none;
        align-items: center;
    }
    
    nav a{
        color: black;
        text-decoration: none;
        display: flex;
        padding: 7px;
        font-size: 15px;
  }
  footer nav li{
      margin-bottom: 1em;
  }
  .footer-img img{
      width: 70px;
      height: 70px;
      align-items: center;
  }
  .footer-img{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .botão input{
        width: 90px;

    }
    .form{
        width: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
        padding: 10px 0px
    }
    .icon img{
        height: 40px;
        width: 40px;
    }
    .icon{
        height: 40px;
        display: flex;
        justify-content: flex-end;    
  }

  /*Inicio Da Responsividade*/
  /*Reponsividade: 800px*/
  @media(min-width: 800px){
      .bannerdesenho img{
          width: 800px;
          height: 300px;
      }

      .alinhar{
          display: flex;
          justify-content: center;
          padding: 0px 100px;
      }


      .ljimg img{
          width: 800px;
          height: 300px;
      }
      #overflowTest {
          width: 500px;
          height: 200px;
      }
      .filtro img{
          width: 60px;
          height: 40px;
      }
      .Loja{
          height: 800px;
      }
  }

  /*Responsividade desktop*/
@media(min-width:800px){
    .quadro img{
        height: 400px;
    margin-left: 127px;

    }
    .secao2 h2{
        margin-top: 100px;
    }
    .lapis img{
        width: 40px;
        height: 40px;
        padding: 1.2em;
    }
    
}
@media(min-width:1366px){
    h1{
        padding: 50px 0px;
    }
    
    .quadro img{
        width: 80%;
        height: 850px;
    margin-left: 190px;

    }
    .secao2 h2{
        margin-top: 800px;
    }
    .lapis img{
        width: 60px;
        height: 60px;
        padding: 3em;
    }
}
body{
    background-color: #FBE2FB;
}

.fita{
    height: 350px;
}
.icones{
    display: flex;
    justify-content: space-between;
    margin-top: -150px;
    padding: 30px;
    align-items: center;
}
.icones img{
    width: 100px;
}
.icones p{
    width: 70%;
}
.campo{
    display: flex;
    justify-content: space-around;
    padding: 0.5em;
    flex-direction: column;
   
}
.campo2{
    margin: 0.5em;
}

@media(min-width: 800px){
    .fita{
        height: 500px;
        margin-left: 20px;
    }
    .icones{
        margin-top: -200px;
    }
}
/* fim responsividade 800px */

@media(min-width: 1366px){
    .fita{
        height: 800px;
        margin-left: 80px;
    }
    .icones{
        display: flex;
        justify-content: space-around;
        font-size: 2.5em;
    }
    .icones img{
        width: 200px;
    }
    .campo{
        height: 4em;
        width: 80%;
    }
    .campo3{
        margin-left: 5px;
    }
}
/* fim responsividade 1366px */


/* pag cadastro criança */

.escolha img{
    width: 60px;
}

@media(min-width: 800px){
    .fita{
        margin-left: 40px;
    }
    .icones{
        margin-left: 35px;
    }
    .escolha img{
        width: 90px;
    }
}
/* fim responsividade 800px */

@media(min-width: 1366px){
    .icones{
        display: flex;
        justify-content: space-evenly;
        margin-right: 50px;
    }
    .icones img{
        width: 120px;
        align-items: center;
    }
    .escolha h2{
        font-size: 40px;
    }
    
}