*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-type: none;
    text-decoration: none;
}
.cabecalho{
    width: 100%;
    height: 100px;
    background-color: #C8FCD8;
}
.containermenu{
    display: flex;
}
.logo{
    width: 15%;
    margin-left: 190px;
    position: absolute;
    margin-top: 15px;
}
#menu{
    display: none;
    margin-left: 10px;
    color: black;
}
.containermenu div a i{
    font-size: 30px;
    margin-left: 1em;
}
.containermenu div{
    margin-top: 30px;
}
.iconeheaderc{
    width: 40%;
}
.iconeheaderu{
    width: 40%;
}
.iconesheader{
    margin-left: 370px;
    position: absolute;
}
.flex{ /* começo css meu diario */
    display: flex;
}
.containerdiario{
    margin-left: 50px;
    margin-top: 1em;
}
.containerdiario h1{
    font-weight: lighter;
}
.containerdiario h2{
    font-size: 20px;
    margin-left: 3em;
    margin-top: 6px;
    font-weight: lighter;
}
.calendario{
    background-color: #c8fcd8;
    margin-top: 18px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    height: 400px;
}
.imgcldr{
    width: 100%;
}
.orange{
    width: 100%;
    background-color: #D5AF17;
    height: 300px;
}
.sentimento{
    background-color: #fff;
    width: 370px;
    height: 250px;
    border-radius: 20px;
    margin-left: 27px;
    margin-top: 23px;
    position: absolute;
}
.sentimento h3{
    font-size: 20px;
    margin-left: 10px;
    font-weight: lighter;
}
.anote{
    font-weight: lighter;
    margin-top: 20px;
}
.info{
    width: 100%;
    height: 350px;
    background-color: #c8fcd8;
}
.info img{
    width: 30%;
    margin-top: 30px;
    margin-left: 8px;
} /* fim css meu diario */

.titulopsi{ /* começo css mural psicologo */
    font-weight: lighter;
    text-align: center;
}
.muralpsi{
    width: 100%;
    margin-top: 2em;
}
.titlechat{
    font-weight: lighter;
    text-align: center;
    margin-top: 1em;
}
.chatpsicologo{
    width: 100%;
    height: 290px;
    background-color:#fff1ff;
    margin-top: 1em;
}
.cliente img{
    width: 15%;
    margin-top: 20px;
    margin-left: 20px;
}
.cliente h3{
    font-weight: lighter;
    margin-top: 2em;
    margin-left: 0.5em;
}

@media(min-width: 800px){
    .logo{
        width: 100px;
        margin-left: 350px;
        margin-top: -4px;
    }
    .iconeheaderc{
        width: 7%;
    }
    .iconeheaderu{
        width: 7%;
    }
    .iconesheader{
        display: flex;
        justify-content: flex-end;
    }
    .containerdiario h2{ /* começo responsividade meu diario */
        margin-left: 400px;
    }
    .calendario{
        height: 700px;
    }
    .sentimento{
        width: 750px;
    }
    .info{
        height: 600px;
    }
    .anote{
        font-size: 35px;
    } /* fim responsividade meu diario */
    /* começo responsividade mural psicologo */ 
    
    .cliente img{
        width: 8%;
    } /* fim responsividade mural psicologo */  
}    /* fim responsividade 800px */
@media(min-width: 1366px){
    .logo{
        padding-left: 280px;
    }
    .iconeheaderc{
        width: 3%;
    }
    .iconeheaderu{
        width: 3%;
    }
    .chatpsicologo{
        height: 410px;
    }
    .containerdiario h2{ /* começo responsividade meu diario */
        margin-left: 1000px;
    }
    .calendario img{
        height: 90%;
    }
    .calendario{
        height: 1000px;
    }
    .orange{
        height: 450px;
    }
    .sentimento{
        height: 400px;
        width: 1310px;
    }
    .info img{
        width: 15%;
    }
    .info{
        height: 280px;
    } /* fim responsividade meu diaro */
    .muralpsi{
        width: 70%;
        margin-left: 200px;
    }
    .cliente h3{
        font-size: 25px;
    }
} /* fim responsividade 1366px */

/*Página cadastro psicólogo*/

body{
    background-color: #FBE2FB;
}

.fita{
    height: 350px;
}
.icones{
    display: flex;
    justify-content: space-between;
    margin-top: -150px;
    padding: 30px;
    align-items: center;
}
.icones img{
    width: 100px;
}
.icones p{
    width: 70%;
}
.campo{
    display: flex;
    justify-content: space-around;
    padding: 0.5em;
    flex-direction: column;
   
}
.campo2{
    margin: 0.5em;
}

/* pag cadastro criança */

.escolha img{
    width: 60px;
}


